html{
 font-family:Microsoft JhengHei,微軟正黑體;
}
a{
  text-decoration:none;
  color: black;
}
.wrap{
 width: 1280px;
 margin: 0 auto;
}
.header{
 border:1px black solid;
}
.header img{
 width:150px;
 height:70px;
 margin: 10px 20px;
 border:1px black solid;
 float:left;
}
.search{
	margin: 10px 20px;
	padding: 15px 20px;
	height: 40px;
	float: left;
	font-size: 20px;
	border:1px black solid;
}
.search input.keyword{
	margin: 0px 30px;
	width: 600px;
	height: 30px;
	font-size: 20px;
}
.search a{
	display: block;
	float: right;
	border:1px black solid;
}
.search  a .submit{
	margin: 2px 30px;
	height: 30px;
	width: 30px;
	background-position: 50% 10%;
	background-image: url(../img/search-icon.png);
	background-size: 30px 30px;
	border:1px black none;
    background-color:rgba(0,0,0,0);
}
.function{
	float: left;
	border: 1px black solid;
	margin: 10px;
	padding: 15px;
}
.function .login{
	border: 1px black solid;
	height: 34px;
	width: 50px;
	float: left;
	margin: 0px 10px;
}
.function .login a{
	display: block;
	height: 34px;
	width: 50px;
	text-align: center;
	line-height: 30px;
}
.clear{
	clear: both;
}
.sider{
 border:1px black solid;
 margin:20px 0px;
 width: 210px;
 float: left;
}
.sider .category{
 font-size: 20px;
 border:1px black solid;
 margin: 10px 10px;
 text-align: center;
}
.sider .category ul{
 padding: 0px;
 margin: 0px;
}
.sider .category ul li{
 list-style-type:none;
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
}
.sider .category ul li.main{
 list-style-type:none;
 font-size: 18px;
 background-color:rgba(0,0,0,0.2);
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
}
.sider .category ul li.second{
 list-style-type:none;
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
}
.container{
 border:1px black solid;
 margin: 20px 0px 20px 20px;
 width: 1046px;
 float: left;
}
.container .banner{
	position: relative;
}
.container .banner .arrow_left{
 display: block;
 position: absolute;
 bottom: 50%;
 left:0px;
 background-image: url(../img/arrow-left.png);
 height:48px;
 width: 48px;
}
.container .banner .arrow_right{
 display: block;
 position: absolute;
 bottom: 50%;
 right:0px;
 background-image: url(../img/arrow-right.png);
 height:48px;
 width: 48px;
}
.container .banner .bannerchoice{
	position: absolute;
	top: 10px;
	height: 20px;
	width: 1046px;
	text-align: center;
}
.container .banner .bannerchoice .choicecircle{
	display: inline-block;
	background-image: url(../img/circle.png);
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
.container .banner img{
	width: 1046px;
	height: 400px;
	background-color: #A8D5D7;
}
.container .banner .bannertext{
	width: 600px;
	height: 50px;
	bottom:20px;
	left:20px;
	margin: 2px 0px;
	padding:0px 20px;
	position: absolute;
    background-color:rgba(0,0,0,0.8);
    color:white;
    font-size: 30px;
}
.rank{
 border:1px black solid;
 margin: 5px 5px;
}
.rank h2{
 margin: 0px;
}
.rank .rankbox{
 border:1px black solid;
 margin: 5px;
 float: left;
}
.rank .rankbox img{
	width: 170px;
	height: 170px;
	margin: 10px 12px;
}
.rank .rankbox p{
	margin: 5px 0px 5px 10px;
	text-align: center;
}
.container .second_salesimage_area{
	float: left;
	width: 80px;
	margin-top:20px;
	padding: 20px;
}
.container .second_salesimage{
	height: 80px;
	width: 80px;
	margin-bottom: 40px;
}
.container .main_salesimage{
 width:350px;
 height:350px;
 margin: 20px;
 float: left;
}
.container .salesinfo{
	float:left;
	position: relative;
	width: 500px;
	margin: 0px 30px 50px 0px;
}
.container .salesinfo h2{
	font-size: 30px;
}
.container .salesinfo h3{
	font-size: 20px;
	margin: 0px;
}
.container .salesinfo ul{
	padding-left: 0px;
	margin: 0px;
}
.container .salesinfo li{
	margin-left: 20px;
}
.container .salesinfo p{
	font-size: 16px;
}
.container .salesinfo input{
	position: absolute;
	bottom: -30px;
	right: 0px;
	width: 150px;
	height: 40px;
}
.container .salesdetail{
	border:1px black solid;
	margin: 0px 20px 10px 20px;
}
.container .salesdetail h2{
	margin: 10px 0px 10px 10px;
}
.container .salesdetail .salesdetail_container{
	margin: 5px;
	border:1px black solid;
	padding: 15px;	
}
.container .salescomment{
	border:1px black solid;
	margin: 0px 20px 10px 20px;
}
.container .salescomment h2{
	margin: 10px 0px 10px 10px;
	float: left;
}
.container .salescomment .AveragePoint{
	float: right;
	font-size: 20px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border:1px black solid;
}
.commentbox{
	position: relative;
}
.container .salescomment .commentbox .commenttext{
	border:1px black solid;
	margin: 5px;
	width: 850px;
	float: left;
	min-height: 80px;
	padding: 15px;
}
.container .salescomment .commentbox .commenttext h3{
	margin: 10px 0px;
}
.container .salescomment .commentbox .commentpoint{
	position: absolute;
	margin: 10px;
	float: right;
	font-size: 50px;
	bottom:10px;
	right:30px;
}
.container .salescomment .commentbox .username{
	font-family: Microsoft JhengHei,微軟正黑體;
	font-size: 20px;
	margin: 10px;
}
.container .salescomment .commentbox .commentmessage{
 	border:1px black solid;
	margin: 5px;
	float: left;
	padding: 5px;
	font-size: 16px;
}

.container .salescomment .commentbox .point{
	float: right;
	font-size: 50px;
	width: 70px;
	margin: 20px 30px 20px 0px;
}
.container .salescomment .commentbox .send{
	float: right;
	width: 70px;
	margin: 0px 30px 20px 10px;
}

.container .searchresult{
	position: relative;
	border:1px black solid;
	margin: 10px 5px;
}
.container .searchresult img{
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}
.container .searchresult .SearchSalesText{
	width: 600px;
	float: left;
	padding:20px;
}
.container .searchresult .SearchSalesText h2{
	font-size: 30px;
	margin: 10px;
}
.container .searchresult .SearchSalesText p{
	font-size: 20px;
	margin: 10px;
}
.container .searchresult .SearchSalesPoint{
	font-size: 50px;
	position: absolute;
	top:20px;
	right: 80px;
}
.container .searchresult input{
	width: 150px;
	height: 60px;
	margin-right:20px; 
	position: absolute;
	bottom: 50px;
	right: 20px;
}
.container .order{
	float: right;
	height: 30px;
	font-size: 20px;
	padding:20px;
}
.container .order select{
	font-size: 20px;
	font-family:Microsoft JhengHei,微軟正黑體;
	margin: 10px;
}
.footer{
	border-top:1px black solid;
	padding-top: 20px;
}
.footer_inform{
	border: 1px black solid;
	float: left;
	width: 700px;
	margin-left: 50px;
	text-align: center;
	font-size: 20px;
}
.footer_link{
	float: right;
	width: 400px;
	border: 1px black solid;
	text-align: center;
	margin-right: 50px;
}
.footer_link h2{
	margin: 0;
	font-size: 20px;
	border-bottom: 1px black solid;
}
.footer_link .fb_icon{
 display: inline-block;
 width: 50px;
 height: 50px;
 margin: 10px 20px;
 background-image: url(../img/fb_icon.png);
}
.footer_link .twitter_icon{
 display: inline-block;
 width: 50px;
 height: 50px;
 margin: 10px 20px;
 background-image: url(../img/twitter_icon.png);
}