html{
 font-family:Microsoft JhengHei,微軟正黑體;
 background: -webkit-linear-gradient(left top,rgb(135,206,250),rgb(30,144,255));
 background: -o-linear-gradient(bottom right,rgb(135,206,250),rgb(30,144,255));
 background: -moz-linear-gradient(bottom right,rgb(135,206,250),rgb(30,144,255));
 background: linear-gradient(to bottom right,rgb(135,206,250),rgb(30,144,255));
}
a{
  text-decoration:none;
  color: black;
}
.wrap{
 width: 1280px;
 margin: 0 auto;
}
.header{
 background: rgba(224,255,255,.6);
}
.LOGO{
 width:150px;
 height:70px;
 margin: 10px 20px;
 background-image: url();
 background-color: rgba(255,255,255,0.3);
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
 text-align:center;
 line-height:70px;
 float: left;
}
.search{
	margin: 10px 20px;
	padding: 15px 20px;
	height: 40px;
	float: left;
	font-size: 20px;
	background-color: rgba(255,255,255,0.3);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.search input.keyword{
	margin: 0px 30px;
	width: 600px;
	height: 30px;
	font-size: 20px;
	font-family:Microsoft JhengHei,微軟正黑體;
}
.search a{
	display: block;
	float: right;
	border:1px rgba(255,255,255,1) solid;
	background-color:rgba(255,255,255,0.7);
}
.search  a .submit{
	margin: 2px 30px;
	height: 30px;
	width: 30px;
	background-position: 50% 10%;
	background-image: url(../img/search-icon.png);
	background-size: 30px 30px;
	border:1px black none;
}
.function{
	float: left;
	margin: 10px;
	padding: 15px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.function .login{
	border:1px rgba(255,255,255,1) solid;
	background-color:rgba(255,255,255,0.7);
	height: 34px;
	width: 50px;
	float: left;
	margin: 0px 10px;
}
.function .login a{
	display: block;
	height: 34px;
	width: 50px;
	text-align: center;
	line-height: 30px;
}
.clear{
	clear: both;
}
.sider{
 margin:20px 0px;
 width: 210px;
 float: left;
 background: rgba(224,255,255,.6);
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.sider .category{
 font-size: 20px;
 border:1px black solid;
 margin: 10px 10px;
 text-align: center;
 background-color: rgba(255,255,255,0.5);
 font-weight: bold;
}
.sider .category ul{
 padding: 0px;
 margin: 0px;
}
.sider .category ul li{
 font-weight: normal;
 list-style-type:none;
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
 color:rgba(25,25,112);
 background-color: rgba(255,255,255,0.7);
}
.sider .category ul li.main{
 list-style-type:none;
 font-size: 20px;
 font-weight: bold;
 background-color: rgba(78,115,225,.5);
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
}
.sider .category ul li.second{
 list-style-type:none;
 padding: 0px 10px;
 border-top:1px black solid;
 text-align: center;
 background-color: rgba(118,165,245,.3);
}
.container{
 margin: 20px 0px 20px 20px;
 width: 1046px;
 float: left;
 background: rgba(224,255,255,.6);
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.container .banner{
	position: relative;
}
.container .banner .arrow_left{
 display: block;
 position: absolute;
 bottom: 50%;
 left:10px;
 background-image: url(../img/arrow-left.png);
 height:48px;
 width: 48px;
}
.container .banner .arrow_right{
 display: block;
 position: absolute;
 bottom: 50%;
 right:10px;
 background-image: url(../img/arrow-right.png);
 height:48px;
 width: 48px;
}
.container .banner .bannerchoice{
	position: absolute;
	top: 30px;
	height: 20px;
	width: 1046px;
	text-align: center;
}
.container .banner .bannerchoice .choicecircle{
	display: inline-block;
	border-radius: 20px;
	background-color: rgba(255,255,255,.6);
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
.container .banner .bannerchoice .choicecircle:active{
	display: inline-block;
	border-radius: 20px;
	background-color: rgba(255,255,255,.9);
	height: 20px;
	width: 20px;
	margin-left: 20px;
}
.container .banner img{
	width: 1006px;
	margin: 20px;
	height: 400px;
	background-color: white;
}
.container .banner .bannertext{
	width: 600px;
	height: 50px;
	bottom:30px;
	left:30px;
	margin: 2px 0px;
	padding:0px 20px;
	position: absolute;
    background-color:rgba(0,0,0,0.7);
    color:white;
    font-size: 30px;
    line-height: 50px;
    border-radius:10px;
}
.rank{
 margin: 5px 20px;
}
.rank h2{
 margin: 0px;
 background-color: rgba(255,255,255,0.7);
}
.rank .rankbox{
 margin: 5px;
 margin-bottom: 30px;
 float: left;
 background-color: white;
 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.rank .rankbox img{
	width: 165px;
	height: 165px;
	margin: 10px 12px;
}
.rank .rankbox p{
	margin: 5px 0px 5px 10px;
	text-align: center;
}
.container .second_salesimage_area{
	float: left;
	width: 80px;
	margin-top:20px;
	padding-left: 20px;
}
.container .second_salesimage{
	border: 5px rgba(255,255,255,1) solid;
	border-radius: 5px;
	height: 80px;
	width: 80px;
	margin-bottom: 40px;
}
.container .main_salesimage{
 width:350px;
 height:350px;
 margin: 20px;
 float: left;
}
.container .salesinfo{
	float:left;
	position: relative;
	width: 500px;
	margin: 0px 30px 50px 0px;

}
.container .salesinfo h2{
	font-size: 30px;
}
.container .salesinfo h3{
	font-size: 20px;
	margin: 0px;
}
.container .salesinfo ul{
	padding-left: 0px;
	margin: 0px;
}
.container .salesinfo li{
	margin-left: 20px;
}
.container .salesinfo p{
	font-size: 16px;
}
.container .salesinfo input{
	position: absolute;
	bottom: -30px;
	right: 0px;
	width: 150px;
	height: 40px;
	border: 2px rgb(72,118,255) solid;
	background: -webkit-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: -o-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: -moz-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: linear-gradient(rgb(135,206,250),rgb(30,144,255));
    color: white;
    font-size: 20px;
    font-family:Microsoft JhengHei,微軟正黑體;
    border-radius: 5px;
}
.container .salesinfo input:active{
	position: absolute;
	bottom: -30px;
	right: 0px;
	width: 150px;
	height: 40px;
	border: 2px rgb(72,118,255) solid;
	background: -webkit-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: -o-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: -moz-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: linear-gradient(rgb(185,185,255),rgb(70,184,255));
    color: white;
    font-size: 20px;
    font-family:Microsoft JhengHei,微軟正黑體;
    border-radius: 5px;
}
.container .salesdetail{
	padding:10px;
	margin: 0px 20px 10px 20px;
	background-color:rgb(206,246,255);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.container .salesdetail h2{
	margin: 10px 0px 10px 10px;

}
.container .salesdetail .salesdetail_container{
	margin: 5px;
	border:3px rgb(175,230,230)  solid;
	padding: 15px;	
	background-color:white;
}
.container .salesdetail .salesdetail_container p{
	margin-left: 20px;
}
.container .salesdetail .salesdetail_container h4{
	margin: 7px 0px;
	font-weight: bold;
}
.container .salescomment{
	padding: 10px;
	background-color:rgb(206,246,255);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	margin: 0px 10px 30px 10px;
}
.container .salescomment h2{
	margin: 10px 0px 10px 10px;
	float: left;
}
.container .salescomment .AveragePoint{
	float: right;
	font-size: 20px;
	text-align: center;
	margin: 10px;
	padding: 10px;
	border:3px rgb(175,230,230)  solid;
	background-color: white;
}
.commentbox{
	position: relative;

}
.container .salescomment .commentbox .commenttext{
	border:3px rgb(175,230,230)  solid;
	margin: 5px;
	width: 800px;
	float: left;
	min-height: 80px;
	padding: 15px;
	background-color: white;
}
.container .salescomment .commentbox .commenttext h3{
	margin: 10px 0px;
}
.container .salescomment .commentbox .commentpoint{
	position: absolute;
	margin: 10px;
	float: right;
	font-size: 50px;
	bottom:10px;
	right:10px;
	border:3px rgb(175,230,230)  solid;
	background-color: white;
}
.container .salescomment .commentbox .username{
	border:3px rgb(165,200,250)  solid;
	font-family: Microsoft JhengHei,微軟正黑體;
	font-size: 20px;
	margin: 10px;
}
.container .salescomment .commentbox .commentmessage{
 	border:3px rgb(165,200,250)  solid;
	margin: 5px;
	float: left;
	padding: 5px;
	font-size: 16px;
}

.container .salescomment .commentbox .point{
	float: right;
	font-size: 50px;
	width: 70px;
	margin: 20px 20px 20px 0px;
}
.container .salescomment .commentbox .send{
	float: right;
	width: 70px;
	margin: 0px 20px 20px 10px;
}

.container .searchresult{
	position: relative;
 	border:3px rgb(165,200,250)  solid;
	margin: 10px 5px;
	background-color: rgba(255,255,255,.9);
}
.container .searchresult img{
	width: 200px;
	height: 200px;
	float: left;
	margin: 10px;
}
.container .searchresult .SearchSalesText{
	width: 600px;
	float: left;
	padding:20px;
}
.container .searchresult .SearchSalesText h2{
	font-size: 30px;
	margin: 10px;
	color:rgb(39,64,139);
}
.container .searchresult .SearchSalesText p{
	font-size: 20px;
	margin: 10px;
	color:rgb(58,95,205);
}
.container .searchresult .SearchSalesPoint{
	font-size: 50px;
	position: absolute;
	top:20px;
	right: 80px;
}
.container .searchresult input{
	width: 150px;
	height: 60px;
	margin-right:20px; 
	position: absolute;
	bottom: 50px;
	right: 20px;
	border: 2px rgb(72,118,255) solid;
	background: -webkit-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: -o-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: -moz-linear-gradient(rgb(135,206,250),rgb(30,144,255));
	background: linear-gradient(rgb(135,206,250),rgb(30,144,255));
	font-family:Microsoft JhengHei,微軟正黑體;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.container .searchresult input:active{
	width: 150px;
	height: 60px;
	margin-right:20px; 
	position: absolute;
	bottom: 50px;
	right: 20px;
	border: 2px rgb(72,118,255) solid;
	background: -webkit-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: -o-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: -moz-linear-gradient(rgb(185,185,255),rgb(70,184,255));
	background: linear-gradient(rgb(185,185,255),rgb(70,184,255));
	font-family:Microsoft JhengHei,微軟正黑體;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}
.container .order{
	float: right;
	height: 30px;
	font-size: 20px;
	padding:20px;
}
.container .order select{
	font-size: 20px;
	font-family:Microsoft JhengHei,微軟正黑體;
	margin: 10px;
}
.footer{
	border-top:3px rgba(248,248,255,.5) solid;
	padding-top: 20px;
}
.footer_inform{
	float: left;
	width: 700px;
	margin-left: 50px;
	text-align: center;
	font-size: 20px;
	background: rgba(224,255,255,.6);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.footer_link{
	float: right;
	width: 400px;
	text-align: center;
	margin-right: 50px;
	background: rgba(224,255,255,.6);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.footer_link h2{
	font-weight: normal;
	margin: 0;
	font-size: 20px;
	border-bottom: 2px rgba(248,248,255,.7) solid;
}
.footer_link .fb_icon{
 display: inline-block;
 border-radius: 5px;
 width: 50px;
 height: 50px;
 margin: 10px 20px;
 background-image: url(../img/fb_icon.png);
}
.footer_link .twitter_icon{
 border-radius: 5px;
 display: inline-block;
 width: 50px;
 height: 50px;
 margin: 10px 20px;
 background-image: url(../img/twitter_icon.png);
}